.champions {
    position: absolute;
    top: 260px;
    left: 20px;
}

table {
    border-collapse: collapse;
}

td , th {
    border: 1px solid grey;
    vertical-align: middle;
    text-align: center;
}